<form>
    @if (usuario()) {
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre"
                placeholder="Ingrese el nombre" [ngModel]="usuario()?.nombre" (ngModelChange)="usuario()!.nombre = $event">
        </div>
        <div class="mb-3">
            <label for="fechaRegistro" class="form-label">Fecha Registro</label>
            <input class="form-control" id="fechaRegistro" type="datetime-local" name="fechaRegistro"
                [ngModel]="formatDateTimeLocal(usuario()!.fechaRegistro)" (ngModelChange)="updateDate($event)">
        </div>
    }
</form>